<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://api-maps.yandex.ru/v3/?apikey=9bfd234f-56de-4b04-8d59-5e5d3a5b9c87&lang=ru_RU" type="text/javascript"></script>
    <title>Help me map</title>
</head>
<body>
    <div id="app"></div>
    <a href="/add">
        <svg width="50px" height="50px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-102.000000, -1037.000000)" fill="#000000">
                    <path d="M124,1054 L119,1054 L119,1059 C119,1059.55 118.552,1060 118,1060 C117.448,1060 117,1059.55 117,1059 L117,1054 L112,1054 C111.448,1054 111,1053.55 111,1053 C111,1052.45 111.448,1052 112,1052 L117,1052 L117,1047 C117,1046.45 117.448,1046 118,1046 C118.552,1046 119,1046.45 119,1047 L119,1052 L124,1052 C124.552,1052 125,1052.45 125,1053 C125,1053.55 124.552,1054 124,1054 L124,1054 Z M130,1037 L106,1037 C103.791,1037 102,1038.79 102,1041 L102,1065 C102,1067.21 103.791,1069 106,1069 L130,1069 C132.209,1069 134,1067.21 134,1065 L134,1041 C134,1038.79 132.209,1037 130,1037 L130,1037 Z" id="plus-square" sketch:type="MSShapeGroup"></path>
                </g>
            </g>
        </svg>
    </a>
    <div class="req_popup" id="req_popup">
        <button id="popup_close" class="popup_close">
            <img src="/public/close.svg" alt="close">
        </button>
        <p id="req_desc" class="req_desc"></p>
    </div>
</body>
<script>
    window.map = null;

    main();

    const search = new URL(document.URL).searchParams;
    const lon = search.get('lon');
    const lat = search.get('lat');

    async function main() {
        await ymaps3.ready;
        const {
            YMap,
            YMapMarker,
            YMapDefaultSchemeLayer,
            YMapDefaultFeaturesLayer,
        } = ymaps3;

        const mapCentre = lon && lat ? [lon, lat] : [53.694955, 54.600708];
        map = new YMap(document.getElementById('app'), {
            location: {center: mapCentre, zoom: 15}
        });

        map.addChild(new YMapDefaultSchemeLayer());
        map.addChild(new YMapDefaultFeaturesLayer());

        const listRequest = JSON.parse('{{{toJson list_request}}}');

        for (let request of listRequest) {
            const el = document.createElement('img');
            el.className = 'request-marker';
            el.src = `/public/${request.request_type}.svg`;
            el.onclick = () => {
                document.getElementById('req_desc').innerText = request.description;
                const [lon, lat] = request.point.coordinates;
                setTimeout(() => document.getElementById('req_popup').classList.add('open'), 300);
                map.update({location: {center: [lon, lat - 0.0017], zoom: 18, duration: 400}});
            }
            map.addChild(new YMapMarker({coordinates: request.point.coordinates}, el));
        }

        document.getElementById('popup_close').onclick = () => {
            document.getElementById('req_popup').classList.remove('open');
        }
    }
</script>
<style>
    html,
    body,
    #app {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Yandex Sans Text', Arial, Helvetica, sans-serif;
        position: absolute;
    }

    a {
        position: absolute;
        left: 50%;
        bottom: 5%;

        display:block;
        height: 50px;
        width: 50px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transform: translate(-50%, -50%);
    }

    .request-marker {
        position: relative;
        box-sizing: border-box;
        transform: translate(-50%,calc(-50% - 24px));
        cursor: pointer;
    }

    .req_popup {
        padding: 50px;
        border-radius: 50px 50px 0 0;
        position: relative;
        top: 15%;
        left: 0;
        background-color: white;
        height: 77.5%;
        visibility: hidden;
        opacity: 0;
        z-index: 100;
    }

    .req_popup button {
        position: absolute;
        background-color: transparent;
        border: none;
        cursor: pointer;
        right: 20px;
        top: 20px;
    }

    .req_popup.open {
        visibility: visible;
        opacity: 1;
    }

    .req_desc {
        text-align: center
    }
</style>
</html>
